/*global css sheet*/
table {
	border-width: 1px;
	border-style: solid;
	margin-left: auto;
	margin-right: auto;
	width: 700px;
	border-style: outset;
}
th {
	background-color: lime;
}
td {
	vertical-align: top;
	overflow:hidden;
}
td img {
	width: 50%;
}
td p {
	width: 500px;
}
#logo {
	position: absolute;
	top: 0px;
	left: 0px;
	zIndex: -1;
}
#login {
	position: absolute;
	top: 0px;
	right: 0px;
}